/*Google font import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Style*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Navigation styles with dropdown*/
nav{
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/*nav-toggle data*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

main {
    
    /*Make main element take up any surplus space to push footer*/
    flex: 1 0 auto;
    margin-top: 47px;
}

/*Hero section*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center;
    background-size: cover;
    position: relative;
}

#cover-text {
    background-color: rgba(241, 109, 107, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
}

#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#benefits-physical > div, 
#benefits-mental > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}

#benefits hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

/*Footer*/
#social-networks {
     text-align: center;
     padding: 20px 0;
     display: flex;
     justify-content: space-evenly;
     list-style-type: none;

}

#social-networks span {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/*social network icons*/
.fa6-brands--facebook {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256c0 120 82.7 220.8 194.2 248.5V334.2h-52.8V256h52.8v-33.7c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287v175.9C413.8 494.8 512 386.9 512 256'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.fa6-brands--twitter {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M459.37 151.716c.325 4.548.325 9.097.325 13.645c0 138.72-105.583 298.558-298.558 298.558c-59.452 0-114.68-17.219-161.137-47.106c8.447.974 16.568 1.299 25.34 1.299c49.055 0 94.213-16.568 130.274-44.832c-46.132-.975-84.792-31.188-98.112-72.772c6.498.974 12.995 1.624 19.818 1.624c9.421 0 18.843-1.3 27.614-3.573c-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319c-28.264-18.843-46.781-51.005-46.781-87.391c0-19.492 5.197-37.36 14.294-52.954c51.655 63.675 129.3 105.258 216.365 109.807c-1.624-7.797-2.599-15.918-2.599-24.04c0-57.828 46.782-104.934 104.934-104.934c30.213 0 57.502 12.67 76.67 33.137c23.715-4.548 46.456-13.32 66.599-25.34c-7.798 24.366-24.366 44.833-46.132 57.827c21.117-2.273 41.584-8.122 60.426-16.243c-14.292 20.791-32.161 39.308-52.628 54.253'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.fa6-brands--youtube {
    display: inline-block;
    width: 1.13em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23000' d='M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597c-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821c11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305m-317.51 213.508V175.185l142.739 81.205z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.fa6-brands--instagram {
    display: inline-block;
    width: 0.88em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23000' d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9S287.7 141 224.1 141m0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7s74.7 33.5 74.7 74.7s-33.6 74.7-74.7 74.7m146.4-194.3c0 14.9-12 26.8-26.8 26.8c-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8s26.8 12 26.8 26.8m76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9c-26.2-26.2-58-34.4-93.9-36.2c-37-2.1-147.9-2.1-184.9 0c-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9c1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0c35.9-1.7 67.7-9.9 93.9-36.2c26.2-26.2 34.4-58 36.2-93.9c2.1-37 2.1-147.8 0-184.8M398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6c-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6c-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6c29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6c11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

/*Benefits/Health icons*/
.famicons--fitness {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M193.69 152.84a16 16 0 0 1 29.64 2.56l36.4 121.36l30-59.92a16 16 0 0 1 28.62 0L345.89 272h96.76A213.1 213.1 0 0 0 464 176.65C463.37 114.54 413.54 64 352.92 64c-48.09 0-80 29.54-96.92 51c-16.88-21.49-48.83-51-96.92-51C98.46 64 48.63 114.54 48 176.65A211.1 211.1 0 0 0 56.93 240h93.18Z'/%3E%3Cpath fill='%23000' d='M321.69 295.16L304 259.78l-33.69 67.38A16 16 0 0 1 256 336q-.67 0-1.38-.06a16 16 0 0 1-14-11.34l-36.4-121.36l-30 59.92A16 16 0 0 1 160 272H69.35q14 29.29 37.27 57.66c18.77 22.88 52.8 59.46 131.39 112.81a31.84 31.84 0 0 0 36 0c78.59-53.35 112.62-89.93 131.39-112.81a317 317 0 0 0 19-25.66H336a16 16 0 0 1-14.31-8.84M464 272h-21.35a260 260 0 0 1-18.25 32H464a16 16 0 0 0 0-32M48 240a16 16 0 0 0 0 32h21.35a225 225 0 0 1-12.42-32Z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.healthicons--running-outline {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M22.195 12.025c1.214-.145 2.693-.135 4.122.547c1.506.718 2.524 1.97 3.18 3.476c.678 1.553 1.339 2.318 1.804 2.69c.428.345.792.44 1.12.458c.78.042 1.533-.299 2.459-.746h.001l.34-.163a3 3 0 1 1 2.56 5.426l-.203.1l-.026.014c-.814.408-2.976 1.493-5.452 1.36a7.8 7.8 0 0 1-4.07-1.406l.55-1.133l-.9-.436l-.684.728a9 9 0 0 0 1.035.841l-1.993 4.105l-.375-.489l-.794.608l.9.437l.27-.556c.652.846 1.31 1.681 1.872 2.395l-.784.62l.786-.618l.244.31c.32.408.608.773.826 1.057l.009.011l.02.025c.15.195.423.55.582.828c.236.413.367.862.417 1.034l.002.007c.075.258.147.55.215.842c.137.589.285 1.311.429 2.04c.103.52.204 1.048.301 1.55c.183.948.346 1.792.472 2.365a3 3 0 0 1-5.858 1.296c-.145-.655-.332-1.626-.52-2.597l-.002-.015c-.094-.487-.189-.978-.28-1.437a61 61 0 0 0-.386-1.844a15 15 0 0 0-.087-.356l.113.15l.801-.599l-.828.241l-.132.039l.015.051l-.037.029c-.196-.254-.463-.595-.787-1.007l-.242-.306v-.002c-.603-.765-1.34-1.7-2.063-2.64c-.817-1.061-1.652-2.175-2.279-3.09c-.307-.448-.61-.914-.838-1.334a6 6 0 0 1-.362-.789a3.7 3.7 0 0 1-.174-.674c-.04-.25-.095-.773.083-1.39c.116-.401.681-1.988 1.277-3.641q.103-.114.213-.228q.402-.42.825-.777a7.2 7.2 0 0 1 1.508-.997l-.433-.901l-.94-.341l-1.058 2.923l-.115.32c-.812.887-1.394 1.76-1.854 2.451l-.005.008c-.133.2-.262.395-.382.564a3 3 0 1 1-4.905-3.455c.043-.06.108-.159.207-.31l.007-.01c.473-.716 1.47-2.227 2.816-3.63c1.635-1.702 4.126-3.633 7.467-4.03m2.07 23.256l.032.118l-.068-.09zm1.191-20.904c-.944-.45-1.99-.49-3.025-.366c-2.688.319-4.779 1.885-6.26 3.429c-1.214 1.264-2.128 2.646-2.596 3.356l-.009.013c-.088.134-.17.258-.233.347a1 1 0 1 0 1.635 1.152c.103-.146.218-.319.357-.528l.008-.013c.5-.752 1.226-1.843 2.28-2.943c.837-.871 1.807-1.661 2.911-2.191a1 1 0 0 1 1.373 1.242l-.732 2.02c-.75 2.075-1.555 4.32-1.677 4.739a1.2 1.2 0 0 0-.028.524c.019.12.051.227.081.31c.06.17.147.344.235.506c.18.33.437.73.732 1.161c.594.867 1.402 1.944 2.215 3c.715.931 1.445 1.858 2.049 2.624l.241.307a119 119 0 0 1 1 1.286q.107.145.159.32c.046.157.1.37.16.63c.121.52.258 1.189.4 1.91c.092.464.188.958.281 1.444v.002c.191.988.373 1.933.512 2.558a1 1 0 0 0 1.953-.432a99 99 0 0 1-.481-2.404l-.003-.015a196 196 0 0 0-.3-1.541a65 65 0 0 0-.414-1.974a14 14 0 0 0-.188-.737a3 3 0 0 0-.234-.606a7 7 0 0 0-.45-.625l-.01-.012c-.21-.274-.49-.63-.813-1.04m0 0l-.24-.307h-.002l-.001-.002l-.002-.003c-.603-.766-1.324-1.681-2.032-2.602l-.233-.303a1 1 0 0 1-.106-1.045l2.812-5.793a1 1 0 0 1 1.585-.292q.213.201.432.376c1.118.897 2.293 1.271 3.41 1.331c1.917.103 3.669-.76 4.473-1.164l.008-.004l.239-.118a1 1 0 1 0-.854-1.808l-.325.156l-.072.035c-.84.405-2.024.978-3.363.906c-.723-.039-1.492-.274-2.265-.894c-.785-.63-1.617-1.692-2.385-3.452c-.514-1.18-1.238-2.008-2.208-2.47m-7.848 14.996a1 1 0 0 1 .956.406l2.855 3.968a1 1 0 0 1 .133.912l-.49 1.408a3 3 0 0 1-3.52 1.935l-6.728-1.582a3 3 0 1 1 1.373-5.84l4.096.962l.525-1.508a1 1 0 0 1 .8-.66m.456 3.136l-.188.541a1 1 0 0 1-1.173.645l-4.973-1.169a1 1 0 0 0-.458 1.947L18 36.056a1 1 0 0 0 1.173-.645l.319-.917zM32.001 12a3 3 0 1 0 0-6a3 3 0 0 0 0 6m0 2a5 5 0 1 0 0-10a5 5 0 0 0 0 10' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.famicons--paper-plane-outline {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='m53.12 199.94l400-151.39a8 8 0 0 1 10.33 10.33l-151.39 400a8 8 0 0 1-15-.34l-67.4-166.09a16 16 0 0 0-10.11-10.11L53.46 215a8 8 0 0 1-.34-15.06M460 52L227 285'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.game-icons--three-friends {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M389 40.84c18.5 0 35 18.79 35 44.03c0 25.33-16.5 44.03-35 44.03s-35-18.7-35-44.03c0-25.24 16.5-44.03 35-44.03m-132.9 0c18.4 0 35 18.79 35 44.03c0 25.33-16.6 44.03-35 44.03c-18.5 0-35.1-18.7-35.1-44.03c0-25.24 16.6-44.03 35.1-44.03m-133 0c18.5 0 35 18.79 35 44.03c0 25.33-16.5 44.03-35 44.03s-35.09-18.7-35.09-44.03c0-25.24 16.59-44.03 35.09-44.03m133 109.06c64 2 118 2 182.8 4.2c30.9 17.8 45.2 109 44.3 140.7l-17.6 17.7c-7.7-42.8-17.4-99.9-33.5-112.6v87.6l4.1 183.7H414l-16.7-184.7h-18l-16.7 184.7h-22.3l4.2-183.7l-8-88.5h-29.3l-7.2 88.2l4.2 183.7h-22.3l-16.8-184.7h-18l-16.8 184.7h-22.2l4.2-183.7L205 199h-29.3l-8 88.5l4.2 183.7h-22.3l-16.7-184.7h-18L98.01 471.2h-22.2l4.2-183.7v-87.6c-16.2 12.7-25.9 69.8-33.6 112.6l-17.6-17.7c-.9-31.7 13.5-122.9 44.3-140.7c64.99-2.2 118.99-2.2 182.99-4.2'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

/*media query: tablets and larger (768px+)*/
@media screen and (min-width: 768px) {
    /*header*/
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*Main content*/
    main {
        /*Push main content down to accommodate larger header*/
        margin-top: 79px;
    }

    /*Hero*/
    #cover-text {
        width: 300px;
        right: 50px;
    }
}
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}